.btn-verde{ 
	width: 150px; 
    color: #ffffff; 
    background-color: #059485; 
  } 
 
.btn-gris{ 
  	width: 150px; 
    color: #ffffff; 
    background-color: #808080; 
  } 
 
.btn-verde-largo{ 
  	width: 3000px; 
    color: #ffffff; 
    background-color: #a7c4c0; 
  } 
 
.btn-gris-largo{ 
  	width: 300px; 
    color: #ffffff; 
    background-color: #808080; 
  }  

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #909;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #909;
}

input::placeholder {
  color: #059485;
  font-size: 1.2em;
  font-style: italic;
}